<div class="container border border-info p-5 mb-5">
  <div class="row">
    <div class="col-12 col-md-7">
      <h2>{{ course.title }}</h2>
      <p class="description">{{ course.description }}</p>
    </div>
    <div class="col-12 col-md-5">
      <div class="row">
        <div class="col-3 text-right">
          <strong> Authors: </strong>
        </div>
        <div class="col-9">
          {{ getAuthors(course.authors) }}
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-right">
          <strong> Durtaion: </strong>
        </div>
        <div class="col-9">
          {{ course.duration | time }}
        </div>
      </div>
      <div class="row">
        <div class="col-3 text-right">
          <strong> Created: </strong>
        </div>
        <div class="col-9">
          {{ course.created | date: 'dd.MM.YYYY' }}
        </div>
      </div>
      <div class="d-flex gx-2 mt-3">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
