.app-modal-closed {
  display: none
}

.app-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: auto;
  display: flex;
  justify-content: center; 
}

.app-modal-body {
  padding: 20px 20px 40px 20px;
  background: #fff;
  margin: 40px;
  box-shadow: 0px 0px 50px #333;
}
   
.app-modal-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.4);
  z-index: 900;
}

body.app-modal {
  overflow: hidden;
}