<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <img
        src="../../../assets/login.jpg"
        alt=""
        class="img-fluid"
      />
    </div>
    <div class="col-sm-12 col-md-6">
      <form
        class="form"
        #f="ngForm"
        (ngSubmit)="f.form.valid && onFormSubmit()"
      >
        <div class="mb-3">
          <label for="email" class="form-label"
            >E-mail</label
          >
          <input
            id="email"
            class="form-control"
            type="text"
            [(ngModel)]="loginForm.email"
            placeholder="user@test.com"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label"
            >Password</label
          >
          <input
            id="password"
            class="form-control"
            type="password"
            [(ngModel)]="loginForm.password"
            placeholder="12341234"
            required
          />
        </div>
        <div class="center-aligned">
          <input
            type="submit"
            value="Login"
            class="btn btn-info mb-3"
          />
        </div>
      </form>
    </div>
  </div>
</div>
