<div *ngIf="!isLoading; else spinner">
    <h3 class="text-center my-3">Authors list</h3>
    <div class="row my-4" *ngFor="let authorId of authorIds">
        <div class="col-6">
            <span>{{getAuthorNameById(authorId)}}</span>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <app-button [btnText]="'Remove author'" [iconName]="'trash'" (onClick)="removeAuthor($event,authorId)"></app-button>
        </div>
    </div>
</div>

<ng-template #spinner>
    <spinner></spinner>
</ng-template>